---
layout: page
title: Authors
redirect_from:
- /devblog/team/rainer-stropek
- /devblog/team/karin-huber
- /devblog/team/philipp-aumayr
- /devblog/team/simon-opelt
- /devblog/team/alexander-huber
- /devblog/author/rainer-stropek
- /devblog/author/karin-huber
- /devblog/author/philipp-aumayr
- /devblog/author/simon-opelt
- /devblog/author/alexander-huber
---

<div class="tc-blog-tag-overview">
    {% assign authors = site.data.authors | sort: "name" %}
    {% for author in authors %}
        <h2 id="{{ author.name }}">{{ author.name }}</h2>
        <ul>
            {% for post in site.posts | sort: "date" reverse %}
                {% if post.author contains author.name %}
					<li>
						<a href="{{ site.baseurl }}{{ post.url }}">
							<span class="tc-post-date">{{ post.date | date_to_string }}</span>
							{{ post.title }}
						</a>
					</li>   
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</div>

