---
layout: page
title: Time Cockpit Blog - Tips and News from the Time Cockpit Team
redirect_from:
- /
---
<div class="row">
    <div class="col-sm-8">
        <div class="row tc-blog-overview">
            {% for post in paginator.posts %}
                <div class="col-sm-12"><h2>{{ post.title }}</h2></div>
                <div class="col-sm-7">
                    <!--<p>{{ post.date | date_to_long_string }}</p>-->
                    <p>{{ post.excerpt }}</p>
                    <p><a href="{{ post.url | prepend: site.baseurl }}">Read more ...</a></p>
                </div>
                <div class="col-sm-5">
                    {% if post.bannerimage != null %}
                    <img src="{{ post.bannerimage | prepend: site.baseurl }}" />
                    {% endif %}
                </div>
            {% endfor %}
        </div>

		<div class="row">
			<div class="tc-pager">
				<div>
					{% if paginator.previous_page %}
					<a href="{{site.baseurl}}{{ paginator.previous_page_path }}" class="previous"><span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span></a>
					{% else %}
					<span class="glyphicon glyphicon-circle-arrow-left" aria-hidden="true"></span>
					{% endif %}
				</div>
				<div class="tc-page-number">{{ paginator.page }} / {{ paginator.total_pages }}</div>
				<div>
					{% if paginator.next_page %}
					<a href="{{site.baseurl}}{{ paginator.next_page_path }}" class="next"><span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span></a>
					{% else %}
					<span class="glyphicon glyphicon-circle-arrow-right" aria-hidden="true"></span>
					{% endif %}
				</div>
			</div>
		</div>
    </div>

    <div class="col-sm-4">
		{% include timecockpitad.html %}
        {% include tagcloud.html %}
		{% include authorcloud.html %}
    </div>
</div>