
<footer class="tc-page-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-3">
                <p>
                    software architects gmbh
                    <br>
                    Welser Straße 26
                    <br>
                    Austria - 4060 Leonding
                    <br>
                    <a href="https://www.timecockpit.com/">time cockpit product website</a>
                    <br>
                    <a href="mailto:support@timecockpit.com">support@timecockpit.com</a>
                    <br>
                    <a href="https://twitter.com/timecockpit" target="_blank">follow us on twitter</a>
                    <br>
                    <br>
                </p>
                <p>
                    © 2016 software architects gmbh
                </p>
            </div>

            <div class="col-xs-6 -sm-6 col-md-3">
                <form action="" method="post" id=""> 
                    <p>
                        <label for="mce-EMAIL">
                            <b> Subscribe to our newsletter</b>
                        </label>
                        <input pattern="[^@]+@[^@]+\.[a-zA-Z]{2,6}" name="EMAIL" class="email" id="mce-EMAIL" placeholder="Email address" required="required">
                        <br>
                    </p>
                    <p class="textalgincenter">
                        <input type="button" value="Subscribe" name="subscribe" id="mce-embedded-subscribe" class="linkButtonMain" onclick="alert('it was clicked')" >
                    </p> 
                </form>
            </div>
        </div>
    </div>
</footer>
