
<div class="header">
    <div class="container">
        <div class="row">
            <div id="header" class="col-sm-12 devBlogHeader">
                <a id="hlHomePage" href="{{ site.baseurl }}/devblog/">
                   <div id="logo"> 
                   </div>
                Developer Blog
                </a>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-default">
        <div class="container">
            <div class="collapse navbar-collapse" id="navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{ site.baseurl }}/devblog/">Blog</a>
                    </li>
                    <li>
                        <a href="{{ site.baseurl }}/contact-us/">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
