{% assign all_posts = site.array %}

{% for post in site.posts | sort: post.date reverse %}
    {% if post.id == page.id %}
        {% continue %}
    {% endif %}
    
    {% if all_posts.size < 3 %}    
        {% for tag in page.tags %}
            {% if post.tags contains tag %}
                {% assign all_posts = all_posts | push: post %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endfor %}

<div class="tc-container tc-container-blue tc-related-posts-container" id="tc-related-posts-container">
	<div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3>Related Posts</h3>
            </div>
        </div>
		<div class="row row-eq-height">
			{% for post in all_posts limit:3 %}
			<div class="col-sm-4">
				<div class="tc-related-post">
					<a href="{{site.baseurl}}{{post.permalink}}"
						ga-on="click"
						ga-event-category="Related post"
						ga-event-action="click">
						<h3>{{post.title}}</h3>
						<p>{{post.excerpt}}</p>
						<div><img src="{{post.bannerimage | prepend: site.baseurl}}" /></div>
					</a>
				</div>
			</div>
			{% endfor %}
		</div>
	</div>
</div>
