<h3>Tags</h3>

<!-- get the tag in the right case -->
{% capture tags %}
{% for tag in site.tags %}
{{ tag[0] | downcase }},{{ tag[0] }}{% unless forloop.last %}|{% endunless %}
{% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:'|' | sort %}

{% for tag in sortedtags %}
    {% assign taglist = tag | split:',' %}
    <span class="site-tag">
        {% assign counter = 0 %}
        {% for post in site.posts %}
            {% if post.tags contains taglist[1] %}
            {% assign counter = counter | plus: 1 %}
        {% endif %}
        {% endfor %}

        {% if counter != 0 %}
            <a href="{{site.baseurl}}/devblog/tags#{{ taglist[1] }}"
                style="font-size: {{ counter |  times: 2 | plus: 85  }}%; line-height: 1.2em;">
                {{ taglist[1] | replace:'-', ' ' }} ({{ counter }})
            </a>
        {% endif %}
    </span>
{% endfor %}