@import "../_sass/bootstrap/_bootstrap.scss";
@import "_variables.scss";

body {
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	letter-spacing: 0.1px;
	color: $base-text-color;
}

h1, h2, h3, h4, h5, h6 {
	color: $header-color;
	margin-top: 40px;
    margin-bottom: 20px;
	text-transform: uppercase;

	small {
		color: $header-color;
	}
}

h1, h1 a {
	font-size: 32px;
}

h2, h2 a {
	font-size: 26px;
}

h3, h3 a {
	font-size: 20px;
}

h4, h4 a {
	font-size: $font-size-base;
}

@media (max-width: $screen-sm-max) { 
	h1, h1 a {
		font-size: 26px;
	}

	h2, h2 a {
		font-size: 22px;
	}

	h3, h3 a {
		font-size: 18px;
	}
}

img {
	max-width: 100%;
}

p {
	margin: 0 0 20px;
}

a {
	text-decoration: none;
	color: $main-color;

	&:hover {
		text-decoration: underline;	
		color: darken($main-color, 20%);
	}
}

blockquote {
	font-size: $base-font-size;
	padding: 0;
	border: none;

	img {
		border-radius: 50%;
		-webkit-filter: grayscale(100%);
		filter: grayscale(100%);
		width: 130px;
		float: left;
		margin-right: 30px;
		margin-bottom: 20px;

		&:hover {
			-webkit-filter: grayscale(0%);
			filter: grayscale(0%);
		}
	}
}

iframe {
    max-width: 100%;
}

div.content {
	margin-top: 100px;
	z-index: 0;
	min-height: calc(100vh - 100px - 130px);
    box-sizing: border-box;
}