@import "_variables.scss";

.tc-banner {
	background-image: url(/time-cockpit-website/content/images/banner.jpg);
	background-size: cover;
	width: 100%;
	height: 500px;
}

.blog-overview {
	img {
		width: 100%;
	}
}

p.highlighted {
	text-align: center;
	background-color: $main-color;
	color: #fff;
	padding: 20px 40px;
}

p.showcase {
	background-color: #ededed;
	padding: 20px 20px;
}

span.highlightedText {
	font-size: 30px;
}

.customerLogos {
	 a {
		display: block;
		height: 100px;
		margin-bottom: 20px;
		border: 1px solid #ddd;
		padding: 10px;
		text-align: center;
	}

	img {
		max-height: 100%;
		position: relative;
		top: 50%;
		-moz-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		-o-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
	}
}

p.tc-action-button {
	margin-top: 40px;
}

input[type=button], input[type=submit], a.linkButton, a.linkButtonMain {
	color: #fff !important;
	background-color: $main-color;
	border: none;
	line-height: 20px;
	padding: 10px 20px;
	font-size: 16px;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	span.glyphicon {
		top: 2px;
		margin-left: 10px;
	}

	&:hover {
		background-color: darken($main-color, 20%);
	}
}

p.imageCaption {
    margin-top: -20px;
    margin-bottom: 20px;

	&, & a {
		font-size: 11px;
		line-height: 15px;
	}
}

.floatRight {
    float: right;
    margin-left: 20px;
}

.floatLeft {
    float: left;
    margin-right: 20px;
}

/* containers */
.tc-container-white, .tc-container-blue, .tc-container-lightgray, .tc-container-darkgray {
	padding-top: 60px;
	padding-bottom: 60px;
	position: relative;

	> div.container > div.row:first-of-type {
		margin-top: -40px;
	}

	> div.container > div.row > div:last-of-type > p:last-of-type {
		margin-bottom: 0;
	}

	.tc-container-image {
		position: absolute;
		width: 100%;
		height: 100%;
		margin-top: -60px;
		margin-bottom: -60px;
		opacity: 0.3;
	}
}

.tc-container-blue {
	background-color: $main-color;
}

.tc-container-lightgray {
	background-color: #e0e0e0;
}

.tc-container-darkgray {
	background-color: #444;

}

.tc-container-darkgray, .tc-container-blue {
	color: #fff;

	h1, h2, h3, a {
		color: #fff;
	}

	input[type=button], input[type=submit], a.linkButton, a.linkButtonMain {
		color: $main-color !important;
		background-color: #fff;
	}
}

/* home */
.tc-home {
	.tc-container {
		.tc-container-image {
			background-image: url(/time-cockpit-website/content/images/banner.jpg);
			background-size: cover;
		}
	}
}

/* home */
.tc-contact {
	.tc-container {
		.tc-container-image {
			background-image: url(/time-cockpit-website/content/images/banner.jpg);
			background-size: cover;
		}
	}
}

/* pricing */
.tc-pricing {
	.tc-container {
		.tc-container-image {
			background-image: url(/time-cockpit-website/content/images/banner.jpg);
			background-size: cover;
		}
	}

	.tc-pricing-details {
		padding: 20px 40px;
		background-color: #fff;
		color: $base-text-color;

		h1 {
			font-size: 40px;
			margin-top: 0px;
		}

		ul {
			padding-left: 0;

			li {
				list-style-type: none;
				font-size: $larger-font-size;
				line-height: $larger-line-height;

				&:before { 
					color: $main-color;
					font-family: "Glyphicons Halflings";
					content: "\e013"; 
					padding-right: 15px;
				}
			}
		}
	}
}