---
layout: default
---
<div class="tc-blog">
	<div class="tc-container-white">
		<div class="container">
			<div class="row">
				<div class="col-sm-8 tc-content">
					<h1>{{ page.title }}</h1>
					<p class="tc-blog-details">
						{{ page.date | date_to_long_string }}
						{% if page.tags.size > 0 %}
						-
						{% endif %}
						{% for tag in page.tags %}
						<a href="{{site.baseurl}}/devblog/tags#{{ tag }}">{{ tag }}</a>{% if forloop.index < forloop.length %}, {% endif %}
						{% endfor %}
					</p>
					{{ content }}
				</div>
				<div class="col-sm-4 tc-sidebar">
                    <h3>Content</h3>
                    <div class="tc-toc"></div>

                    {% include timecockpitad.html %}
                    {% include tagcloud.html %}
                    {% include authorcloud.html %}
			    </div>
			</div>
		</div>
	</div>

	{% include related_posts.html %}
</div>